body{
  background-color: #efccef;
  color: #fdffff;
  width: 500px;
  margin-right: auto;/*autoは自動で中央寄せ*/
  margin-left: auto;
}
button{
  padding: 5px 20px;
  background-color: #83ccce;
  color: #fdffff;
  border-style: none;
}
input{
  height: 24px;
}